body {
    /*text-align: center;*/
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



section {
  display: block;
  margin: auto;
  width: 30%;
}

form input {
  font-size: 14px;
  text-align: left;
}

#session {
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

#session ul {
  list-style: none;
  padding-left: 40px;
}

#session ul li {
  margin: 0;
  list-style: none;
  text-align: left;
  padding-right: 40px;
}

#session ul li span {
  display: inline-block;
  width: 60px;
  font-weight: bold;
  text-align: left;
}

#session ul li span.eliza {
  color: #b383dc;
  text-align: left;
}

#session ul li span.you {
  color: #4e6dbc;
  text-align: left;
}

.elizaButtons {
  border: 1px solid lightgrey;
  background-color: white;
}

.elizaBody {
  background-image: url('https://s-media-cache-ak0.pinimg.com/236x/ee/d5/cb/eed5cb9f88a932f56863a58e1c7b96dc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#resetButton {
  margin-left: 20px;
}

#talkButton {
  margin-left: 100px;
}

a {
  display: inline-block;
  top: 5px;
  left: 48%;
  top: 75%;
}

.back {
  position: absolute;
  left: -30px;
  top: -10px;
}

#micky {
  position: absolute;
  top: 0px;
  /*left: 0px;*/
  text-align: center;
}

#jamie {
  position: absolute;
  top: 50px;
  left: 0px;
}
