<!DOCTYPE html>
<html ng-app="elizaBot">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliza</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/services/data.js" charset="utf-8"></script>
    <script src="js/services/eliza.js" charset="utf-8"></script>
    <script src="js/controllers/eliza.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="ElizaCtrl as eliza">

    <section class="elizaBody">
      <div id="session" style=" margin: auto;">
        <ul>
          <li ng-repeat="line in eliza.lines">
            <span style="text-align: left;" ng-class="line.voice | lowercase">{{ line.voice }}</span>{{ line.text }}
          </li>
        </ul>
      </div>
      <form ng-submit="eliza.step()">
        <input type="text" class="u-full-width" ng-model="eliza.userInput" autofocus><br><br>

        <!-- <button class="elizaButtons" id="talkButton">Talk</button> -->
        <div align="center">
        <button type="button" class="elizaButtons" id="resetButton" ng-click="eliza.reset()">Reset</button>
      </div>
      </form>

      <audio src="audio/Eliza.mp3" autoplay="true" loop="true" hidden="true"></audio>
    </section>

  </body>
  <!-- <a href="/index.html">Home</a> -->

</html>
