<!DOCTYPE html>
<html ng-app="elizaBot">
  <head>
    <meta charset="utf-8">
    <title>Eliza</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/services/data.js" charset="utf-8"></script>
    <script src="js/services/eliza.js" charset="utf-8"></script>
    <script src="js/controllers/eliza.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="ElizaCtrl as eliza">

    <section class="elizaBody">
      <div id="session">
        <ul>
          <li ng-repeat="line in eliza.lines">
            <span ng-class="line.voice | lowercase">{{ line.voice }}</span>{{ line.text }}
          </li>
        </ul>
      </div>
      <form ng-submit="eliza.step()">
        <input type="text" class="u-full-width" ng-model="eliza.userInput" autofocus><br><br>

        <button class="elizaButtons" id="talkButton">Talk</button>
        <button type="button" class="elizaButtons" id="resetButton" ng-click="eliza.reset()">Reset</button>
      </form>

      <audio src="audio/Eliza.mp3" autoplay="true" loop="true" hidden="true"></audio>
    </section>

  </body>
  <!-- <a href="/index.html">Home</a> -->

  <div style="position: fixed; overflow: visible; white-space: nowrap;
    font-size: 0.85em; z-index: 9999; top: 657px; left: 160.5px;">
      <div style="position: absolute; overflow: visible; border-width: 0px 0px 0px 1px;
        border-style: solid; color: white; border-color: white; bottom: 0px;">
        <div style="position: relative; padding: 3px 4px; transform:
        translateX(-100%);">
        <a href="/index.html" class="back">Back</a>

        </div>
      </div>
      
  </div>
</html>
